body {
  background: $mainColor;
}
nav {
  position: relative;
  z-index: +4;
  @include nav(16px 0px, 100%);
  .mainlogo {
    img {
      @include imagedetals(30%, auto, cover);
    }
  }
  .main_list {
    ul {
      @include Main_Flex(flex-end, center, 20px);
      li {
        list-style: none;
        list-style-type: none;
        a {
          text-decoration: none;
          font-size: 12px;
          font-weight: 500;
          color: $whitecolor;
          padding: 15px 7px;
          margin: 10px 15px;
          cursor: pointer;
        }
      }
    }
  }
  .hidden_li {
    position: relative;
    visibility: hidden;
    #second_li {
      width: 30%;
      padding: 10px 0px;
      color: #fff;
      background: #1b1d21;
      position: absolute;
      left: 165px;
      top: 34px;
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      flex-direction: column;
      padding: 10px 25px;
      li {
        list-style: none;
        list-style-type: none;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.02rem;
          font-weight: 300;
          opacity: 0.9;
          &:hover {
            margin-left: 15px;
            color: #12c2e9;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
    .active {
      visibility: visible !important;
      height: auto !important;
    }
  }
  .burger {
    color: $whitecolor;
    display: none;
  }
}
@media (max-width: 768px) {
  .mainlogo {
    img {
      max-width: 15%;
    }
  }
  .burger {
    display: block !important;
    color: $whitecolor;
    i {
      position: absolute;
      right: 18px;
      top: 27px;
      font-size: 25px;
    }
  }
  .main_list {
    margin-top: 20px;
    position: absolute;
    width: 100%;
    top: 88px;
    left: 0;
    right: 0;
    background-color: #252527;
    color: $whitecolor;
    transform: translateX(-500px);
    transition: 0.3 ease-in-out;
    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      li {
        padding: 12px 0px;
      }
    }
  }
}
#Apps_Together {
  margin-bottom: 24px;
  .App_Text {
    h1 {
      font-size: 70px;
      color: #fff;
      margin: 0;
      padding: 23px;
      line-height: 1.3;
      font-weight: 700;
    }
    .text_gray_app {
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      margin: 0;
      opacity: 0.7;
    }
    .Apps_button {
      button {
        border-radius: 30px;
        padding: 13px 40px;
        background-color: transparent;
        a,
        i {
          color: #fff;
          text-decoration: none;
          text-align: center;

          font-weight: 600;
        }
      }
      .classic {
        border: 2px solid white;
      }
      .rainbow {
        background: rgb(252, 102, 102);
        background: linear-gradient(
          90deg,
          rgba(252, 102, 102, 1) 0%,
          rgba(255, 114, 222, 1) 27%,
          rgba(38, 218, 255, 1) 100%
        );
        &:hover {
          background: #f45162;
        }
      }
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 600;
      }
      .Apps_button {
        display: flex;
        flex-direction: column;
        gap: 14px;
        text-align: center;

        justify-content: center;
        align-items: center;
      }
    }
  }
  .App_img {
    img {
      width: 80%;
      object-fit: cover;
    }
    @media (max-width: 768px) {
      margin-left: 35px;
    }
  }
}
#Global_Partners {
  padding: 30px;
  height: 500px;
  background: rgb(48, 124, 158);
  background: linear-gradient(
    90deg,
    rgba(48, 124, 158, 1) 0%,
    rgba(51, 51, 51, 0.8300362381280637) 50%,
    rgba(51, 51, 51, 0.8272351176798844) 100%
      rgba(51, 51, 51, 0.8272351176798844) 100%
  );
  .global_Partners_heading {
    margin-top: 55px;
    h2 {
      color: #fff;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      font-size: 42px;
      text-align: center;
      display: block;
    }
    p {
      line-height: 1.5;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.858);
      text-align: center;
      font-size: 1.1rem;
    }
  }
  .Global_Partners_img {
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    img {
      width: 50%;
      object-fit: cover;
      cursor: pointer;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
#Ambitious_Goals {
  padding: 40px;
  background: rgb(175, 49, 49);
  background: linear-gradient(
    90deg,
    rgba(175, 49, 49, 0.7123891793045343) 6%,
    rgba(51, 51, 51, 0.8300362381280637) 21%,
    rgba(51, 51, 51, 0.8272351176798844) 100%
  );
  .Ambitious_Goals_img {
    img {
      width: 90%;
      object-fit: cover;
    }
  }
  .red_text {
    p {
      font-size: 22px;
      color: #f45162;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
    }
  }
  .big_text {
    margin: 0;
    line-height: 1.3;
    font-weight: 700;
    font-size: 42px;
    color: #fff;
  }
  .gray_text {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    margin: 0;
    opacity: 0.7;
  }
  .buttons_goal {
    .rainbow2 {
      background: rgb(252, 102, 102);
      background: linear-gradient(
        90deg,
        rgba(252, 102, 102, 1) 0%,
        rgba(255, 114, 222, 1) 27%,
        rgba(38, 218, 255, 1) 100%
      );
      &:hover {
        background: #f45162;
      }
      border-radius: 30px;
      padding: 13px 40px;
      background-color: transparent;
      a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-weight: 600;
      }
      i {
        color: #fff;
      }
    }
    .classic {
      background-color: transparent;
      border: none;
      a {
        color: #fff;
      }
      i {
        color: #fff;
      }
    }
    @media (max-width: 768px) {
      gap: 12px;
      display: flex;
      flex-direction: column;
    }
  }
  .goal_list {
    ul {
      padding: 0;
      margin-top: 20px;
      li {
        list-style: none;
        color: #fff;
        line-height: 1.5;
        font-weight: 400;
        font-size: 1rem;
        i {
          color: #f45162;
          margin-right: 15px;
        }
      }
    }
  }
}
#Homepages {
  padding: 40px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(35, 35, 35, 0.712) 6%,
    rgba(72, 72, 72, 0.791) 69%,
    rgba(129, 9, 9, 0.8272351176798844) 100%
  );
  .Homepage_text {
    .red_text {
      font-size: 22px;
      color: #f45162;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
    }
    .big_text {
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      font-size: 42px;
      color: #fff;
    }
    .gray_text {
      font-size: 16px;
      font-family: "Manrope", sans-serif;
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      margin: 0;
      opacity: 0.7;
    }
    .classic {
      background-color: transparent;
      border: none;
      a {
        color: #fff;
      }
      i {
        color: #fff;
      }
    }
    .buttons_goal {
      .rainbow2 {
        border: #f45162 1px solid;
        border-radius: 30px;
        padding: 13px 40px;
        background-color: transparent;
        a {
          color: #fff;
          text-decoration: none;
          text-align: center;
          font-weight: 600;
        }
        i {
          color: #fff;
        }
      }
      .classic {
        background-color: transparent;
        border: none;
        a {
          color: #fff;
        }
        i {
          color: #fff;
        }
      }
      @media (max-width: 768px) {
        gap: 12px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .homepage_img {
    img {
      width: 90%;
    }
  }
}
#Amazing_Features {
  padding: 40px;
  background: #202123;
  .red_text {
    font-size: 22px;
    color: #f45162;
    margin: 0;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
  }
  .big_text {
    margin: 0;
    line-height: 1.3;
    font-weight: 700;
    font-size: 42px;
    color: #fff;
    text-align: center;
  }
  .cards_features {
    padding: 42px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: #252527;
    .heading {
      span {
        margin: 0;
        font-size: 1.1rem;
        color: #fff;
        line-height: 1.3;
        font-weight: 700;
      }
      i {
        color: #f45162;
        font-size: 2.2rem;
        margin-right: 14px;
      }
    }
    .heading_text {
      font-size: 15px;
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      margin: 0;
      opacity: 0.7;
    }
    &:hover {
      border: 2px solid #f45162;
      transition: 0.3s ease-in;
    }
  }
}
#Apps_Screenshot {
  padding: 20px;
  background-color: #111215;
  .text_amazing_heding {
    .red_text {
      font-size: 22px;
      color: #f45162;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      text-align: center;
    }
    .big_text {
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      font-size: 42px;
      color: #fff;
      text-align: center;
    }
  }
  .swoper_apps {
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
#Working_Process {
  padding: 40px;
  background-color: #111215;
  .text_amazing_heding {
    .red_text {
      font-size: 22px;
      color: #f45162;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      text-align: center;
    }
    .big_text {
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      font-size: 42px;
      color: #fff;
      text-align: center;
    }
  }
  .card_working {
    padding: 30px;
    border: 1px solid #5c5c5c8c;
    border-radius: 12px;
    text-align: center;
    .icon_working {
      font-size: 2.2rem;
      color: #f45162;
    }
    .text_working {
      margin: 0;
      color: #fff;
      line-height: 1.3;
      font-weight: 700;
      font-size: 24px;
    }
    .text_step {
      font-size: 14px;
      color: #f45162;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
    .classic_text {
      font-size: 16px;
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      margin: 0;
      opacity: 0.7;
    }
  }
}
#Meet_Our_Team {
  padding: 40px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7123891793045343) 10%,
    rgba(1, 0, 0, 0.7908205518535539) 75%,
    rgba(19, 78, 171, 0.8272351176798844) 100%
  );
  .text_amazing_heding {
    .red_text {
      font-size: 22px;
      color: #f45162;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      text-align: center;
    }
    .big_text {
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      font-size: 42px;
      color: #fff;
      text-align: center;
    }
  }
  .circle_con {
    position: relative;
    z-index: 666;
    img {
      width: 90%;
      height: 90%;
      object-fit: cover;
      border-radius: 50%;
    }
    &::after {
      background: #f45162;
      left: 2px;
      top: 19px;
      z-index: -1;
      content: "";
      position: absolute;
      width: 96%;
      height: 100%;
      border-radius: 50%;
    }
    &::before {
      border: 3px solid rgba(255, 255, 255, 0.1);
      top: -22px;
      z-index: -1;
      left: -19px;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &:hover {
      &::after {
        background-color: #12c2e9;
        transition: 0.3s all linear;
      }
    }
    @media (max-width: 768px) {
      width: 70%;
      margin-left: 45px;
    }
  }
}
#Pricing_Package {
  padding: 40px;
  background-color: #111215;
  .text_amazing_heding {
    .red_text {
      font-size: 22px;
      color: #f45162;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      text-align: center;
    }
    .big_text {
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      font-size: 42px;
      color: #fff;
      text-align: center;
    }
  }
  .Free_Package {
    padding: 30px;
    border-radius: 12px;
    .free_text {
      text-align: center;
      margin: 0;
      color: #fff;
      line-height: 1.3;
      font-weight: 700;
      font-size: 24px;
    }
    .free_money {
      text-align: center;
      span {
        font-size: 2rem !important;
        color: #fff;
      }
      .red_number {
        color: #f45162;
      }
    }
    .free_button {
      text-align: center;
      button {
        background: rgba(72, 72, 72, 0.791);
        padding: 12px 60px;
        border-radius: 26px;
        a {
          text-decoration: none;
          color: #fff;
        }
        &:hover {
          background-color: #f45162;
          transition: 0.3s ease-in;
        }
      }
    }
    .free_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul {
        padding: 0;
        margin-top: 20px;
        li {
          padding: 10px;
          list-style: none;
          color: #9b9b9b;
          line-height: 1.5;
          font-weight: 400;
          font-size: 1rem;
          i {
            color: #f45162;
            margin-right: 15px;
          }
        }
        .gray {
          opacity: 0.3;
          color: #9b9b9b;
          margin-top: 15px;
        }
      }
    }
  }
  .free_button_rainboow {
    text-align: center;
    button {
      background: rgb(252, 102, 102);
      background: linear-gradient(
        90deg,
        rgba(252, 102, 102, 1) 0%,
        rgba(255, 114, 222, 1) 27%,
        rgba(38, 218, 255, 1) 100%
      );
      &:hover {
        background: #f45162;
      }
      padding: 12px 60px;
      border-radius: 26px;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
#Clients_Feedback {
  padding: 40px;
  background-color: #252527;
  .text_amazing_heding {
    .red_text {
      font-size: 22px;
      color: #f45162;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      text-align: center;
    }
    .big_text {
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      font-size: 42px;
      color: #fff;
      text-align: center;
    }
  }
  .swiper_second {
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .card_swiper_second {
      background-color: #111215;
      padding: 60px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .img_swwiper {
        img {
          width: 50px;
          height: 50px;
          margin-bottom: 1rem;
          object-fit: cover;
        }
      }
      .swiper_img_pp {
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }
      .text_swiper,
      .swiper_name {
        color: #9b9b9b;
      }
      &:hover {
        border: #12c2e9 1px solid;
        transition: 0.3s ease-in;
      }
    }
  }
}
#Downlaod_Apps {
  background: rgb(252, 102, 102);
  background: linear-gradient(
    90deg,
    rgba(252, 102, 102, 1) 0%,
    rgba(255, 114, 222, 1) 27%,
    rgba(38, 218, 255, 1) 100%
  );
  padding: 40px;
  .Downlaod_Apps_text {
    padding: 30px;
    .text_amazing_heding {
      .red_text {
        font-size: 22px;
        color: #fff;
        margin: 0;
        line-height: 1.3;
        font-weight: 700;
      }
      .big_text {
        margin: 0;
        line-height: 1.3;
        font-weight: 700;
        font-size: 42px;
        color: #fff;
      }
    }
    .Apps_button {
      button {
        border-radius: 30px;
        padding: 13px 40px;
        background-color: transparent;
        a,
        i {
          color: #fff;
          text-decoration: none;
          text-align: center;
          color: #111215;
          font-weight: 600;
        }
      }
      .classic {
        border: 2px solid white;
      }
      .rainbow {
        background-color: #fff;
        border: none;
      }
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
@media (max-width: 768px) {
  .img_Downlaod_Apps {
    img {
      width: 80%;
    }
  }
  .big_text {
    font-size: 25px !important;
  }
}
#Blog_and_News {
  padding: 40px;
  .text_amazing_heding {
    margin-top: 100px;
    .red_text {
      font-size: 22px;
      color: #f45162;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      text-align: center;
    }
    .big_text {
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      font-size: 42px;
      color: #fff;
      text-align: center;
    }
  }
  .card_blog {
    background-color: #252527;
    border-radius: 20px;
    width: 100%;
    height: 244px;
    overflow: hidden;
    .img_deep {
      img {
        object-position: center;
        width: 100%;
        height: 100%;
        object-fit: contain;
        box-sizing: border-box;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }
    .deep_text {
      padding: 20px !important;
      .red_text_deep {
        color: #f45162;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .deep_text_fff {
        font-size: 20px;
        margin-bottom: 10px;
        margin: 0;
        line-height: 1.3;
        font-weight: 700;
        color: #fff;
      }
      .deep_text_gray {
        color: #9b9b9b;
        margin-right: 10px;
        font-size: 12px;
      }
      .deep_button {
        button {
          border-radius: 30px;
          padding: 8px 30px;
          border: #f45162 1px solid;
          background: transparent;
          text-align: center;
          color: #fff;
          &:hover {
            background: rgb(252, 102, 102);
            background: linear-gradient(
              90deg,
              rgba(252, 102, 102, 1) 0%,
              rgba(255, 114, 222, 1) 27%,
              rgba(38, 218, 255, 1) 100%
            );
            border: none;
            transition: 0.3s ease-in;
          }
        }
      }
    }
  }
}
footer {
  height: 300px;
  padding: 40px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7123891793045343) 10%,
    rgba(1, 0, 0, 0.7908205518535539) 75%,
    rgba(89, 41, 179, 0.589) 100%
  );
  .footer_logo {
    .logo {
      img {
        width: 25%;
      }
    }
    .text_footer {
      color: #dad6d6;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      margin: 0;
      opacity: 0.7;
      margin-top: 20px;
    }
  }
  .Resource,
  .Link,
  .Contact {
    p {
      font-size: 22px;
      color: #fff;
      margin: 0;
      line-height: 1.3;
      font-weight: 700;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    ul {
      padding: 0;
      margin-top: 1rem;
      li {
        list-style: none;
        a {
          color: #dad6d6;
          margin-top: 25px;
          font-size: 17px;
          opacity: 0.7;
          line-height: 1.5;
          text-decoration: none;
          &:hover {
            color: #12c2e9;
          }
        }
      }
    }
    .icons_end {
      ul {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    span {
      color: #9b9b9b;
    }
  }
}
#preloader {
  background: #17131c
    url(https://digitalsynopsis.com/wp-content/uploads/2016/06/loading-animations-preloader-gifs-ui-ux-effects-14.gif)
    no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.end {
  text-align: center;
  color: #9b9b9b;
  margin-top: 20px;
  font-size: 1rem;
  padding: 20px;
  border-top: 1px solid gray;
}
